{% extends "layout.html" %}

{% block content %}
<li style="float: right;"><input type="text" placeholder="Search"></li>
{% endblock %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>RRop.gg</h1>
    <nav class="navbar">
      <ul>
        <li><a href="{{  url_for('home')  }}">Home</a></li>
        <li><a href="{{  url_for('champions')  }}">Champions</a></li>
        <li><a href="{{  url_for('sign_in')  }}">Sign In</a></li>
      </ul>
    </nav>
    <main class="search-bar-center" style="background-color: grey;">
      <input type="text" placeholder="Search">
    </main>
  </body>
</html>